/* #letter{
    animation-name: myletter;
    position: relative;
    animation-duration: 6s;
    animation-delay: 2s;
    opacity: 0%;
    animation-fill-mode:forwards ;

}

@keyframes myletter{
        0%{opacity: 0%;}
        100%{opacity: 100%;}
} */
#video{
    position:absolute;
    top: -28px;
    left:-15vb;
    opacity: 23%;
}